@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');    

body{
    background: rgb(0,250,255);
   background: linear-gradient(90deg, rgba(0,250,255,1) 0%, rgba(0,48,235,1) 95%);
    
    
}

h1{
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 3px;
    /* color: rgb(34, 22, 100); */
    
}

body{
    color: var(--light);
}

.container{

    /* display: flex; */
    height: 20rem;
    /* flex-direction: column; */
    display: grid;
    justify-content: center;
    align-items: center;
}
.button{
    margin: 9px 0;
    padding: 10px;
    width: 50px;
    border-radius: 10px;
    border: 1px solid var(--dark);
    font-size: 19px;
    font-family: 'Lobster', cursive;
    cursor: pointer;
  
        grid-row:span 2;
    
}

#moon{
    margin-left: 49%;
    margin-bottom: 0.5rem;
    border: none;
    background: rgb(0,250,255);
    background: linear-gradient(90deg, rgba(0,250,255,1) 0%, rgba(0,48,235,1) 95%);
 
    color: rgb(255, 255, 255);
    font-size: 20px;
}

input{
    padding: 5px 20px;
}


.dark-mode{
    background: rgb(34,30,30);
    background: linear-gradient(90deg, rgba(34,30,30,1) 26%, rgba(0,250,255,0.6811099439775911) 72%);
}

.light{
    color:rgb(98, 234, 255);
}
